@import './normalize.css';

:root {
    --font-size:14px;
    --color-hight-text:#ff5777;
    --color-background:#fff;
    --color-tint:#ff8198;
    --color-text:#666;
    --color-border:#F7F5F9;

}

html {
    height: 100%;
    width: 100%;
    background-color: #fff;
}
body {
    height: 100%;
    width: 100%;
    background-color: #fff;
}